 .formPage{
    max-width: 600px;
    padding: 25px;
    border:2px solid#D6DBDF;
 
}
#form1 h2{
    font-size:40px;
    font-family: "Times New Roman", Times, serif;
   }
.jumbotron{
    background: #17202A;
    color: #D5D8DC;
}